.main {
  padding-top: 30px;
}
.main .main-l {
  float: left;
  width: 107px;
  height: 337px;
  color: black;
  font-size: 12px;
}
.main .main-l ul > li:nth-child(1) {
  font-size: 15px;
}
.main .main-l ul > li {
  position: relative;
  padding: 5px 0;
}
.main .main-l ul > li:hover {
  color: #FF7B3F;
  cursor: pointer;
}
.main .main-l ul > li > span {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #848486;
  left: 76px;
  top: 8px;
}
.main .main-c {
  float: left;
  width: 724px;
  height: 124px;
  margin: 0 10px;
}
.main .main-c .main-c-top {
  width: 724px;
  height: 70px;
  vertical-align: middle;
  color: #546d7e;
  background: #f5f8fa;
  border: 1px solid #e4eaee;
  line-height: 23px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.main .main-c .main-c-top img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-left: 15px;
}
.main .main-c .main-c-top h6 {
  padding-left: 15px;
  font-size: 14px;
  color: black;
}
.main .main-c .main-c-top .c-right {
  display: flex;
}
.main .main-c .main-c-top .c-right a {
  display: block;
  margin: 50px;
}
.main .main-c .main-c-top .c-right a:last-child {
  color: black;
}
.main .main-c .main-c-top .c-right a:hover {
  color: #FF7B3F;
}
.main .main-c .main-c-bot {
  width: 724px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #e4eaee;
  font-size: 12px;
  color: #4b4b4b;
  border-top: 0;
}
.main .main-c .main-c-bot a:hover {
  color: #FF7B3F;
}
.main .main-c .main-c-bot a > i {
  color: #FF7B3F;
  font-size: 14px;
}
.main .main-c .main-c-wuliu {
  width: 100%;
  height: 45px;
  background-color: #F4F8FA;
  border: 1px solid #E3EAEF;
  margin-top: 30px;
}
.main .main-c .main-c-wuliu p {
  vertical-align: middle;
  font-size: 15px;
  color: #546d7e;
  padding: 10px;
  line-height: 15px;
}
.main .main-c .main-c-wuliu p span {
  font-size: 25px;
  color: #9FB2BF;
  padding-right: 10px;
}
.main .main-c .main-c-lick {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.main .main-c .main-c-lick .lick-top {
  width: 100%;
  height: 45px;
  color: #fff;
  background: #a0cdeb;
  border: #a0cdeb;
  border-top: #e4eaee;
  font-size: 18px;
  line-height: 18px;
}
.main .main-c .main-c-lick .lick-top h5 {
  float: left;
  line-height: 45px;
  padding: 0 13px;
}
.main .main-c .main-c-lick .lick-top .lick-top-div {
  float: right;
  height: 20px;
  line-height: 45px;
  padding: 0 12px;
  font-weight: 800;
  cursor: pointer;
}
.main .main-c .main-c-lick .lick-top .lick-top-div:hover {
  color: #FF7B3F;
}
.main .main-c .lick-main {
  width: 724px;
  background-color: #F4F8FA;
  display: flex;
  justify-content: space-around;
}
.main .main-c .lick-main dl {
  width: 220px;
  height: 313px;
  border: 1px solid red;
  margin-top: 20px;
}
.main .main-c .lick-main dl dt img {
  max-width: 218px;
  max-height: 220px;
  vertical-align: middle;
}
.main .main-c .lick-main dl span {
  display: block;
  font-size: 16px;
  color: #f40;
  font-weight: 700;
  margin: 15px 12px 15px 22px;
}
.main .main-c .lick-main dl dd {
  font-size: 12px;
  overflow: hidden;
  margin: 0 12px 0 16px;
  height: 14px;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-r {
  width: 300px;
  height: 180px;
  border: 1px solid ;
  border: 1px solid #cfe5d4;
  float: right;
}
.main-r div > h4 {
  width: 300px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #e4eaee;
  background-color: #46CF80;
}
.main-r .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #46CF80;
}
.main-r .date h2 {
  font-size: 4em;
}
.main-r .date p {
  font-size: 14px;
}
.main-r .main-img {
  width: 300px;
  height: 125px;
  border: 1px solid #e4eaee;
  margin-top: 30px;
  margin-right: -1px;
}
