.header-img {
  width: 1440px;
  min-width: 990px;
  height: 129px;
  background-color: #f83c3d;
}
.header-img .hea-imgs {
  width: 236px;
  height: 88px;
  overflow: hidden;
  float: left;
  margin-top: 20.5px;
  margin-left: 2px;
}
.header-img .hea-imgs > a > img {
  width: 236px;
  height: 88px;
  border-radius: 12px;
}
