@import url(header-img.css);
@import url(navdar.css);
@import url(banner.css);
@import url(mian.css);
@import url(seek.css);
@import url(ship-header.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
head,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
figcaption,
figure,
span,
main,
.iconfont,
img,
nav,
ul,
li {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
ul,
li {
  list-style: none;
}
a,
u,
s,
del {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
}
b,
strong {
  font-weight: normal;
}
img {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 321px) {
  body {
    font-size: 12px;
  }
}
@media screen and (min-width: 375px) and (max-width: 376px) {
  body {
    font-size: 14px;
  }
}
em,
i {
  font-style: normal;
}
.center {
  width: 1190px;
  margin: 0 auto;
}
header {
  width: 1440px;
  min-width: 990px;
  height: 26px;
  background: #f2f2f2;
  position: relative;
  z-index: 9999;
}
header .nav {
  width: 990px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #999;
}
header .nav .nav-left {
  display: flex;
}
header .nav .nav-left .nav-left-font {
  padding: 0 10px;
}
header .nav .nav-left .nav-hover:hover {
  color: #FF4175;
  text-decoration: underline;
}
header .nav .nav-right {
  display: flex;
}
header .nav .nav-right .nav-right-font {
  padding: 0 10px;
}
header .nav .nav-right .nav-hover:hover {
  color: #FF4175;
  text-decoration: underline;
}
header .nav .iconfont {
  color: #FF0002;
  font-size: 12px;
}
.bigroot {
  border-top: 1px solid #D1D7DC;
  clear: both;
  margin: 0;
  text-align: center;
  background: #fff;
  margin-top: 50px;
}
.root {
  width: 100%;
  height: 400px;
}
.root .root-top {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
.root .root-top .root-top-a {
  display: block;
  width: 297px;
  height: 100px;
  text-align: center;
  display: flex;
  position: relative;
}
.root .root-top .root-top-a span {
  display: block;
  width: 60px;
  height: 60px;
  border: 3px solid red;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: 20px;
}
.root .root-top .root-top-a i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 35px;
  position: absolute;
  left: 54px;
  top: 25px;
  color: red;
}
.root .root-top .root-top-a p {
  font-size: 18px;
  position: absolute;
  left: 120px;
  top: 30px;
}
.root .root-top .root-top-a h6 {
  color: #B5B5B5;
  font-size: 14px;
  position: absolute;
  left: 120px;
  top: 54px;
}
#root-bot-line {
  width: 1190px;
  border-top: 1px solid #D1D7DC;
  padding-bottom: 20px;
}
.root-bot {
  width: 1190px;
  height: 190px;
  display: flex;
  justify-content: space-evenly;
}
.root-bot ul {
  width: 100px;
  height: 100%;
  margin: 0 50px;
}
.root-bot ul h4 {
  width: 100px;
  text-align: left;
  font-size: 16px;
  color: #7E7E7E;
}
.root-bot ul li {
  width: 100px;
  overflow: hidden;
  text-align: left;
  height: 20px;
  line-height: 20px;
  color: #8b8b8b;
  font-size: 12px;
}
.root-bot ul img {
  width: 105px;
  height: 105px;
}
.bigfoot {
  width: 1440px;
  height: 245px;
  background-color: #000000;
  position: relative;
  border-top: 3px solid #FF0002;
}
.bigfoot img {
  position: absolute;
  top: -25px;
  left: 168px;
}
.foots {
  width: 100%;
  height: 100%;
  color: #D1D7DC;
  font-size: 12px;
  position: relative;
}
.foots ul {
  float: left;
  padding-top: 15px;
}
.foots ul li {
  float: left;
  padding: 0px 5px;
}
.foots dl {
  float: left;
  padding-top: 5px;
  color: #8C8C8C;
}
.foots dl dd {
  float: left;
  padding-right: 40px;
}
.foots dl dd img {
  width: 20px;
  height: 20px;
}
.foots .tupian {
  background-color: #fff;
  width: 147px;
  height: 71px;
  position: absolute;
  top: 170px;
  left: 50%;
}
.foots .tupian2 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 89px;
  left: 66%;
}
.foots .tupian3 {
  width: 35px;
  height: 35px;
  z-index: 444;
  position: absolute;
  top: 60% !important;
  left: 66%;
}
